# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
backend/.venv/
backend/venv/

# Environment variables
.env
.env.*
backend/.env

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Python cache
# =========================
.pytest_cache/
.mypy_cache/
.ruff_cache/

# =========================
# Database
# =========================
*.db
*.sqlite3

# Docker volume
postgres_data/

# =========================
# Local RAG
# =========================
backend/chroma_db/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
desktop.ini